@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-header {
  grid-area: header;
  background: url("../assets/Home/Background.jpg") no-repeat no-repeat center;
  background-size: cover;
  border-radius: 12px;

  position: fixed;

  width: 22%;
  height: 98%;
}

.grid-content {
  grid-area: content;
}

.grid-aside {
  grid-area: aside;
}

.grid-home {
  display: grid;
  grid-template-areas:
    "header content aside"
    "header content aside"
    "header content aside";

  grid-template-columns: 1fr 2fr 1fr;
  gap: 3rem;

  align-items: stretch;
  position: relative;
}

@keyframes BackgroundAnimation {
  from {
    background-color: #0e1116;
    opacity: 1;
  }
  to {
    background-color: rgb(18, 23, 34);
  }
}

@keyframes LastRead {
  from {
    transform: translate3d(0px, -5px, 0);
    filter: brightness(1.2);
  }
  to {
    transform: translate3d(0px, 0px, 0);
    filter: brightness(1.5);
  }
}

.loading-bg {
  animation: BackgroundAnimation 1.5s alternate infinite;
}

.last-read {
  animation: LastRead 1.2s alternate infinite;
}
