@tailwind base;
@tailwind components;
@tailwind utilities;

#grid-area-header {
  grid-area: header;
  background: url("../assets/Home/Background.jpg") no-repeat no-repeat center;
  background-size: cover;
  border-radius: 12px;

  width: 280px;
  height: 95dvh;

  position: fixed;

  margin-left: 10px;
}

#grid-area-content {
  grid-area: content;
}

#grid-layout-home {
  display: grid;
  grid-template-areas:
    "header content"
    "header content"
    "header content";

  grid-template-columns: minmax(220px, 300px) 2fr;
  gap: 2rem;

  align-items: start;
  position: relative;
}

#currentPageHome::before {
  background: linear-gradient(#7fd1cc, #9694f5);
  border-radius: 5px;
}

@keyframes BackgroundAnimation {
  from {
    background-color: #0e1116;
    opacity: 1;
  }
  to {
    background-color: rgb(18, 23, 34);
  }
}

@keyframes LastRead {
  from {
    transform: translate3d(0px, -5px, 0);
    filter: brightness(1.2);
  }
  to {
    transform: translate3d(0px, 0px, 0);
    filter: brightness(1.5);
  }
}

@keyframes FromUptoDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

.loading-bg {
  animation: BackgroundAnimation 1.5s alternate infinite;
}

.last-read {
  animation: LastRead 1.2s alternate infinite;
}

.animate-from-up-to-down {
  opacity: 0;
  animation: FromUptoDown 0.72s forwards;
}
